table{
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
  tr{
      td{
          border: 1px solid rgb(121, 121, 121);
          padding:8px;
      }
      td:first-child{
          border-left: none;
      }
      td:last-child{
          border-right: none;
      }
  }
  tr:first-child{
      td{
          border-top: none;
      }
  }
  tr:last-child{
      td{
          border-bottom: none;
      }
  }
}
.functionalities-table{
  tr{
      td:first-child{
          width:30px;
      }
      td:not(:last-child){
          text-align: center;
          font-weight: bold;
      }
  }

}