.main-container{
  height: 50px;
  background-color: rgb(240, 240, 240);
  box-shadow: 0px 3px 3px rgb(179, 179, 179);
  text-align: center;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: 1;
  font-size: 22px;
  padding-left: 15px;
}